<nav class="navbar navbar-expand-lg navbar-light bg-light my-4 px-2">
  <a class="navbar-brand text-capitalize" href="#">online train booking system</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-capitalize" routerLink="/admin">admin</a>
      </li>
    </ul>
  </div>
</nav>