<div class="container">
  <app-header>
    <li class="nav-item">
      <a class="nav-link text-capitalize" routerLink="/admin/reservations"
        >Reservations</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link text-capitalize" routerLink="/admin/transactions"
        >Transactions</a
      >
    </li>
  </app-header>
  <div class="row justify-content-center align-items-center py-4">
    <div class="col-md-8 col-sm-12 col-xs-1">
      <p class="h2 text-decoration-underline text-primary">Current reservations</p>
      <ol class="list-group list-group-numbered" *ngIf="pendingBookings">
        <li
          *ngFor="let booking of pendingBookings; index as id"
          class="list-group-item d-flex justify-content-between align-items-start"
          style="cursor: pointer;"
          (click)="openDialog(id)"
        >
          <div class="ms-2 me-auto">
            <div class="fw-bold">
              <p class="text-primary text-decoration-underline"
                >{{ booking.travel_date }} - {{ booking.travel_time }}</p
              >
            </div>
            Booking for {{ booking.passengers?.length }} Persons
            <span
              *ngIf="booking.admin_confirmed; else pending"
              class="bg-success text-white rounded px-1"
              >Approved</span
            >
            <ng-template #pending>
              <span class="bg-warning text-white rounded px-1">Pending</span>
            </ng-template>
          </div>
          <span class="badge bg-primary rounded-pill">{{
            booking.passengers?.length
          }}</span>
        </li>
      </ol>
      <div *ngIf="pendingBookings.length == 0">
        <small class="text-dark"
          >All clean. No bookings pending approval.&nbsp;<span
            class="text-decoration-underline text-primary"
            routerLink="/admin/transactions"
            >Click here</span
          >
          to see all booking transactions</small
        >
      </div>
    </div>
  </div>
</div>
