<!-- //account modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <p class="h3 modal-title text-center py-2 text-uppercase">
      Account Details
    </p>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div
      class="d-flex justify-content-center"
      [ngClass]="{
        'my-2': showWarning,
        'px-2': showWarning,
        'py-2': showWarning,
        'bg-danger': showWarning,
        'text-white': showWarning
      }"
      #error
    ></div>
    <form class="form" #accountForm="ngForm">
      <div class="row">
        <div class="form-group mb-3 col-md-6 col-sm-12 col-xs-12">
          <label for="firstname">Firstname</label>
          <input
            type="text"
            name="firstname"
            class="form-control"
            id="firstname"
            placeholder="Firstname"
            [value]="userObject.firstname"
            [(ngModel)]="userObject.firstname"
            required
            #firstname="ngModel"
          />
          <small
            *ngIf="firstname.touched && firstname.invalid"
            style="color: red"
            >Firstname is required</small
          >
        </div>
        <div class="form-group mb-3 col-md-6 col-sm-12 col-xs-12">
          <label for="lastname">Lastname</label>
          <input
            type="text"
            name="lastname"
            class="form-control"
            id="lastname"
            placeholder="Lastname"
            [value]="userObject.lastname"
            [(ngModel)]="userObject.lastname"
            required
            #lastname="ngModel"
          />
          <small *ngIf="lastname.touched && lastname.invalid" style="color: red"
            >Lastname is required</small
          >
        </div>
      </div>
      <div class="row">
        <div class="form-group mb-3 col-md-6 col-sm-12 col-xs-12">
          <label for="username">Username</label>
          <input
            type="text"
            name="username"
            class="form-control"
            id="username"
            placeholder="Username"
            [value]="userObject.username?.toUpperCase()"
            [(ngModel)]="userObject.username"
            required
            #username="ngModel"
          />
          <small *ngIf="username.touched && username.invalid" style="color: red"
            >Username is required</small
          >
        </div>
        <div class="form-group mb-3 col-md-6 col-sm-12 col-xs-12">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            class="form-control"
            id="email"
            placeholder="Email"
            [value]="userObject.email"
            [(ngModel)]="userObject.email"
            email
            required
            #email="ngModel"
          />
          <small *ngIf="email.touched && email.invalid" style="color: red"
            >Email is required and must be valid</small
          >
        </div>
      </div>
    </form>
    <div class="modal-footer">
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-warning"
          (click)="modal.close('Close click')"
        >
          CLOSE
        </button>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="accountForm.invalid"
          (click)="updateAccountDialog(accountForm)"
        >
          UPDATE
        </button>
      </div>
    </div>
  </div>
</ng-template>

<div class="container">
  <app-header></app-header>
  <div class="row my-4">
    <div class="col-md-6 col-sm-12 col-xs my-2">
      <div class="card" style="width: 100%">
        <div class="card-body">
          <h5 class="card-title">Account Details</h5>
          <p class="card-text" *ngIf="userObject">
            Full name: &nbsp;&nbsp;
            <span class="fw-bold text-capitalize"
              >{{ userObject.firstname }}&nbsp;{{ userObject.lastname }}
            </span>
          </p>
          <p class="card-text" *ngIf="userObject">
            User Email: &nbsp;&nbsp;
            <span class="fw-bold">{{ userObject.email }} </span>
          </p>
          <p class="card-text">
            Change Password: &nbsp;&nbsp;
            <a routerLink="/auth/pass-reset" class="btn btn-primary"
              >Click here</a
            >
          </p>
          <p class="card-text">
            <small
              (click)="openAccountModal(content)"
              class="text-decoration-underline text-primary"
            >
              View and Manage your account
            </small>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs my-2">
      <div class="card" style="width: 100%">
        <div class="card-body">
          <h5 class="card-title text-center">Bookings</h5>
          <div
            class="row d-flex justify-content-around align-items-center pt-4"
          >
            <div class="card bg-primary my-2" style="width: auto">
              <div class="card-body">
                <h5 class="card-title text-white">Active Bookings</h5>
                <p class="card-text text-center" *ngIf="pendingBookings">
                  <span class="fw-bold text-white">{{
                    pendingBookings.length
                  }}</span>
                </p>
              </div>
            </div>
            <div class="card bg-warning my-2" style="width: auto">
              <div class="card-body">
                <h5 class="card-title text-white">Past Bookings</h5>
                <p class="card-text text-center" *ngIf="approvedBookings">
                  <span class="fw-bold text-white">{{
                    approvedBookings.length
                  }}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center align-items-center py-4">
    <div class="col-md-8 col-sm-12 col-xs-1">
      <p class="h2 text-decoration-underline text-primary">All bookings</p>
      <ol class="list-group list-group-numbered" *ngIf="allBookings">
        <li
          *ngFor="let booking of allBookings; index as id"
          class="list-group-item d-flex justify-content-between align-items-start"
          style="cursor: pointer"
          (click)="openDialog(id)"
        >
          <div class="ms-2 me-auto">
            <div class="fw-bold">
              <p class="text-primary text-decoration-underline">
                {{ booking.travel_date }} - {{ booking.travel_time }}
              </p>
            </div>
            Booking for {{ booking.passengers?.length }} Persons
            <span
              *ngIf="booking.admin_confirmed; else pending"
              class="bg-success text-white rounded px-1"
              >Approved</span
            >
            <ng-template #pending>
              <span class="bg-warning text-white rounded px-1">Pending</span>
            </ng-template>
          </div>
          <span class="badge bg-primary rounded-pill">{{
            booking.passengers?.length
          }}</span>
        </li>
      </ol>

      <div *ngIf="allBookings.length == 0">
        <small class="text-dark"
          >You currently have no booking history with us &nbsp;<span
            class="text-decoration-underline text-primary"
            routerLink="/"
            >Click here</span
          >
          to start booking</small
        >
      </div>
    </div>
  </div>
</div>
