<div class="container">
  <app-header></app-header>
  <app-cards></app-cards>
  <div class="container d-flex justify-content-center align-items-center my-5">
    <div class="form-container col-md-6 col-xs-12 col-sm-12 p-4">
      <p class="h3 text-center py-2 text-uppercase">passenger info</p>
      <form (ngSubmit)="passengersSubmit()" class="form">
        <div class="form-group mb-3">
          <label for="booking-name">Booking person name</label>
          <input
            type="text"
            name="booking-name"
            class="form-control"
            id="booking-name"
            placeholder="Booking person name"
          />
        </div>
        <div class="form-group mb-3">
          <label for="username">Booking person contact</label>
          <input
            type="number"
            inputmode="numeric"
            minlength="10"
            maxlength="12"
            name="booking-contact"
            class="form-control"
            id="booking-contact"
            placeholder="Booking person contact"
          />
        </div>
        <div class="form-group mb-3">
          <label for="booking-address">Booking person address</label>
          <input
            type="text"
            name="booking-address"
            class="form-control"
            id="booking-address"
            placeholder="Booking person address"
          />
        </div>

        <div class="card bg-secondary p-2 my-2">
          <p class="h5 text-center py-2 text-capitalize">passenger(1)</p>
          <div class="form-group mb-3">
            <label for="passenger-name">Passenger Name</label>
            <input
              type="text"
              name="passenger-name"
              class="form-control"
              id="passenger-name"
              placeholder="Passenger name"
            />
          </div>
          <div class="form-group mb-3">
            <label for="passenger-age">Passenger Age</label>
            <input
              type="number"
              min="1"
              name="passenger-age"
              class="form-control"
              id="passenger-age"
              placeholder="Passenger age"
            />
          </div>
          <div class="form-group mb-3">
            <label for="gender">Passenger Gender</label>
            <select class="form-control" id="gender">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <a routerLink="/payment" class="btn btn-primary">NEXT</a>
          <!-- <input
            type="submit"
            name="submit"
            value="Sign In"
            class="btn btn-primary form-control"
            id="submit"
          /> -->
        </div>
      </form>
    </div>
  </div>
</div>
