@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#sgrImage{
  height: 400px; width: 100%; background-color: #303030;
}

@media only screen and (max-width: 600px) {
  .navbar-brand {
    font-size: 14px !important;
  }
  #sgrImage{
    height: 220px;
    width: 100%;
  }

}