<div class="container-fluid">
  <app-navbar></app-navbar>
  <div class="container d-flex justify-content-start align-items-center">
    <div
      class="col-md-4 col-sm-12 col-xs-12 p-2 d-flex flex-column"
    >
      <h1 class="travel fw-bold">Travel in comfort, Travel in style</h1>
      <p>Connecting all nations together</p>
      <p>
        New routes everyday at affordable prices. Travel with us today, we
        travel with you forever
      </p>
      <a class="btn btn-primary rounded text-capitalize text-white col-md-4" routerLink="/routing">Book now</a>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12 border border-1 rounded p-2">
        <div class="image" style="height: 400px; width: 100%; background-color: #303030;">
            <img src="assets/images/sgr4-one.png" alt="" class="img-fluid" style="width: 100%; height: 100%">
        </div>
    </div>
  </div>
</div>
